@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

nav{
    width: 70px;
    height: fit-content;
    background-color: var(--main-ui-color);
    margin: 1rem;
    border-radius: 20px;
}

nav ul{
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

nav ul li{
    width: fit-content;
    margin: 1rem 0;
}

.name {
    font-size: 1.5rem;
    font-family: Pacifico, cursive;
    padding: 2rem 0;
    cursor: pointer;
    font-weight: 700;
    color: #CCC8C1;
}.name:hover {
    color: #fff;
    transition: all .2s ease;
}

@media (width <= 1000px){
    nav{
        width: fit-content;
        height: 60px;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
    nav ul{
        display: flex;
        margin: 1rem 0;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    
    nav ul li{
        width: fit-content;
        margin: 0 10px;
    }
    nav ul li:hover{
        color: var(--main-ui-color);
    }
}