nav{
    width: 70px;
    height: 80vh;
    background-color: var(--main-ui-color);
    margin: 1rem;
    border-radius: 20px;
}

nav ul{
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

nav ul li{
    width: fit-content;
    margin: 1rem 0;
}

@media (width <= 1000px){
    nav{
        width: 90vw;
        height: 60px;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 1;
    }
    nav ul{
        display: flex;
        margin: 1rem 0;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    
    nav ul li{
        width: fit-content;
        margin: 0 10px;
    }
    nav ul li:hover{
        color: var(--main-ui-color);
    }
}