.add-task-form{
    width: fit-content;
    height: min-content;
    background-color: var(--main-ui-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
    padding: 5rem;
    margin: 1rem;
    right: 0;
    text-align: center;
    color: #fff;
}   

.add-task-form input, select{
    padding: 0.5rem 1rem;
    border: 2px solid #F0F0F0F0;
    border-radius: 10px;
}

.add-task-form button{
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #F0F0F0F0;
}

    select option{
    padding: 0.5rem 1rem;
    border: 2px solid #F0F0F0F0;
    border-radius: 10px;
}

@media (width <= 1000px) {
    .add-task-form{
        padding: 4rem;
    }
}