.Home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../public/backgrounds/01.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
}

.home-cont{
    margin: auto;
    padding: 2rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #c1bfbf;
    border-radius: 20px;
}

.home-cont h1{
    margin: 1rem 0;
    color: #fff;
}

.login-btn, .register-btn{
    padding: 1rem 3rem;
    border-radius: 20px;
    border: none;
    width: fit-content;
}