/* Colors */
.black-blue{
    background-color: #084C61;
}
.white-blue{
    background-color: #177E89;
}
.black{
    background-color: #323031;
}
.red{
    background-color: #DB3A34;
}

.task-card{
    border-radius: 20px;
    width: 310px;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
}

.task-cont{
    display: flex;
    flex-direction: column;
}

.task-date-cont{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}
.task-date{
    background-color: #fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    width: fit-content;
    font-weight:bold;
}

.task-btn{
    border-radius: 20px;
    background-color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.task-btn:hover{
    background-color: #d7d7d7;
}

.task-name{
    color: #fff;
    padding: 15px 5px;
    font-weight: bolder;
}