/* Colors */
.yellow{
    background-color: #FFC857;
}
.black-blue{
    background-color: #084C61;
}
.white-blue{
    background-color: #177E89;
}
.black{
    background-color: #323031;
}
.red{
    background-color: #DB3A34;
}

.task-card{
    border-radius: 20px;
    width: 310px;
    height: 140px;
    padding: 1rem;
    margin: 1rem;
}

.task-cont{
    display: flex;
    flex-direction: column;
}

.task-date-cont{
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    width: fit-content;
}
.task-date{
    font-weight:bold;
}

.task-btn{
    border-radius: 20px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    width: fit-content;
}

.task-name{
    color: #fff;
    padding: 10px 5px;
    font-weight: bolder;
}