/* Tasks General Component */
.tasks-full-cont{
    display: flex;
    flex-direction: column;
    background-color: var(--main-ui-color);
    border-radius: 20px;
    height: fit-content;
    height: 80vh;
}

.tasks-full-cont > h2{
    color: #fff;
    font-size: 40px;
    padding: 2rem;
    padding-bottom: 0;
}

/*Task list cont  */
.tasks-cont{
    display: flex;
    flex-direction: row;
    max-width: 80vh;
    overflow: auto;
    background-color: var(--main-ui-color);
    border-radius: 20px;
}

/* Movil Style */
@media (width <= 900px){
    .tasks-cont{
        flex-direction: column;
        padding: 0;
    }
}