.tasks-cont{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


@media (width <= 900px){
    .tasks-cont{
        margin: 80px auto;
        flex-direction: column;
    }
    .day-target{
        margin: auto;
    }
}

.day-target{
    background-color: var(--main-ui-color);
    padding: 2rem 1rem;
    border-radius: 20px;
    margin: 1rem 0;
    height: fit-content;

}

.day-target h2{
    font-size: 30px;
    font-weight: bold;
}