/* General Styles */
main{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 2rem;
}

/* Desktop Styles */
@media (width >= 1280px){
    header{
        height: 100vh; 
    }
    
}
/* Movil styles */
@media (width <= 1000px) {
    main{
        flex-direction: column;
    }
}